### l'horloge

#NET "clk" LOC = "U23"; ## 5 on X5
NET "clk" IOSTANDARD = LVCMOS18;
NET "clk" LOC = Y9;
#NET "clk_f" TNM_NET = "clk_f";
#TIMESPEC TS_clk = PERIOD "clk_F" 10 ns HIGH 50 %;

################################### TEST  ###############################
## Switches
#NET "reset_user" LOC = "D22"; ## on SW1
#NET "RDen_user" LOC = "C22"; ## on SW2
#NET "WRen_user" LOC = "L21"; ## on SW3
#NET "Highly_hostile_environment_user" LOC = "L20"; ## on SW4
#NET "switch_select_test[0]" LOC = "C18"; ## on SW5
#NET "switch_select_test[1]" LOC = "B18"; ## on SW6
#NET "Injection_mode_user[0]" LOC = "K22"; ## on SW7
#NET "Injection_mode_user[1]" LOC = "K21"; ## on SW8
#NET "switch_init_user" LOC = "G26"; ## 2 on SW9 pushbutton (active-High) Central

NET "start" IOSTANDARD = LVCMOS18;
NET "reset" IOSTANDARD = LVCMOS18;
NET "reset_led" IOSTANDARD = LVCMOS18;
NET "P1" IOSTANDARD = LVCMOS18;
NET "P2" IOSTANDARD = LVCMOS18;
NET "P3" IOSTANDARD = LVCMOS18;
#NET "P4" IOSTANDARD = LVCMOS18;
#NET "switch_select_test[1]" IOSTANDARD = LVCMOS18;
#NET "Injection_mode_user[0]" IOSTANDARD = LVCMOS18;
#NET "Injection_mode_user[1]" IOSTANDARD = LVCMOS18;
NET "alpha_sw[0]" IOSTANDARD = LVCMOS18;
NET "alpha_sw[1]" IOSTANDARD = LVCMOS18;
NET "alpha_sw[2]" IOSTANDARD = LVCMOS18;
NET "alpha_sw[3]" IOSTANDARD = LVCMOS18;
NET "alpha_sw[4]" IOSTANDARD = LVCMOS18;
NET "alpha_sw[5]" IOSTANDARD = LVCMOS18;
NET "alpha_sw[6]" IOSTANDARD = LVCMOS18;


NET "start" LOC = F22;
#NET "reset" LOC = G22;
NET "reset" LOC = P16;
NET "reset_led" LOC = T18;
NET "P1" LOC = N15;
NET "P2" LOC = R18;
NET "P3" LOC = R16;
#NET "P4" LOC = C10;

NET "alpha_sw[0]" LOC = M15;
NET "alpha_sw[1]" LOC = H17;
NET "alpha_sw[2]" LOC = H18;
NET "alpha_sw[3]" LOC = H19;
NET "alpha_sw[4]" LOC = F21;
NET "alpha_sw[5]" LOC = H22;
NET "alpha_sw[6]" LOC = G22;
#NET "Highly_hostile_environment_user" LOC = F21;
#NET "switch_select_test[0]" LOC = H19;
#NET "switch_select_test[1]" LOC = H18;
#NET "Injection_mode_user[0]" LOC = H17;
#NET "Injection_mode_user[1]" LOC = M15;

#NET "switch_init_user" IOSTANDARD = LVCMOS18;
#NET "switch_init_user" LOC = N15;


## Outputs on LED
#NET "valid_dataRDWR_user" LOC = "AP24"; #LED_Centrale

#NET "doa_user[0]" LOC = "AC22"; #LED_0
#NET "doa_user[1]" LOC = "AC24"; #LED_1
#NET "doa_user[2]" LOC = "AE22"; #LED_2
#NET "doa_user[3]" LOC = "AE23"; #LED_3
#NET "dopb_test[0]" LOC = "AB23"; #LED_4
#NET "dopb_test[1]" LOC = "AG23"; #LED_5
#NET "dopb_test[2]" LOC = "AE24"; #LED_6
#NET "dopb_test[3]" LOC = "AD24"; #LED_7

#NET "WR_ok_FSM_test" LOC = "AE21"; #LED_Right
#NET "BIT_ERR_user" LOC = "AD21"; #LED_Left
#NET "RD_ok_FSM_test" LOC = "AH27"; #LED_Nord
#NET "INJ_ok_FSM_test" LOC = "AH28"; #LED_Sud

NET "done" IOSTANDARD = LVCMOS18;
#NET "led_out[1]" IOSTANDARD = LVCMOS18;
#NET "led_out[2]" IOSTANDARD = LVCMOS18;
#NET "led_out[3]" IOSTANDARD = LVCMOS18;
#NET "led_out[4]" IOSTANDARD = LVCMOS18;
#NET "led_out[5]" IOSTANDARD = LVCMOS18;
#NET "led_out[6]" IOSTANDARD = LVCMOS18;
#NET "led_out[7]" IOSTANDARD = LVCMOS18;

NET "done" LOC = T22;
#NET "led_out[1]" LOC = T21;
#NET "led_out[2]" LOC = U22;
#NET "led_out[3]" LOC = U21;
#NET "led_out[4]" LOC = V22;
#NET "led_out[5]" LOC = W22;
#NET "led_out[6]" LOC = U19;
#NET "led_out[7]" LOC = U14;

#NET "done" IOSTANDARD = LVCMOS18;
#NET "done" LOC = Y11;
#NET "dopb_test[0]" IOSTANDARD = LVCMOS18;
#NET "dopb_test[0]" LOC = AA11;
#NET "dopb_test[1]" IOSTANDARD = LVCMOS18;
#NET "dopb_test[1]" LOC = Y10;
#NET "dopb_test[2]" IOSTANDARD = LVCMOS18;
#NET "dopb_test[2]" LOC = AA9;
#NET "dopb_test[3]" IOSTANDARD = LVCMOS18;
#NET "dopb_test[3]" LOC = AB11;
				
Net "SDIN" LOC = AA12 | IOSTANDARD = LVCMOS18; #LVCMOS33; 
Net "SCLK" LOC = AB12 | IOSTANDARD = LVCMOS18; #LVCMOS33;
Net "DC" LOC = U10 | IOSTANDARD = LVCMOS18; #LVCMOS33; 
Net "RES" LOC = U9 | IOSTANDARD = LVCMOS18; #LVCMOS33; 
Net "VBAT" LOC = U11 | IOSTANDARD = LVCMOS18; #LVCMOS33; 
Net "VDD" LOC = U12 | IOSTANDARD = LVCMOS18; #LVCMOS33;
